.cart-img{
    width: 100px;
    object-fit: contain;
}
table, tr, td, th {
    border: 1px solid black;
}
.cart-table{
    width: 100%;
    text-align: center;
}
.cart-table td,
.cart-table th{
    padding: 20px 0;
}
.cart-table th{
    font-size: 22px;
    background: coral;
}